<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Tests">
    <test name="Persistence">
        <packages>
            <package name="po.infrastructure.test.dao" />
            <package name="po.infrastructure.test.repository" />
            <package name="po.infrastructure.test.unitofwork" />
        </packages>
    </test> <!-- Test -->
</suite> <!-- Suite -->